* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.forget-password {
    width: 450px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: D9D9D9;
}

.frm-forget-password {
    width: 250px;
    height: 230px;
    font-family: arial;
}

.frm-forget-password h3 {
    text-align: center;
}

.frm-forget-password p {
    text-align: center;
}

.frm-forget-password input {
    width: 100%;
    margin: 10px 0px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: none;
}

.frm-forget-password #email {
    background-color: rgba(128, 128, 128, 0.164);
}

.frm-forget-password #submit {
    background-color: rgba(57, 55, 55, 0.901);
    color: white;
    font-weight: 600;
}