* {
    /* Change your font family */
    font-family: sans-serif;
}
.main_container_table
{
    width: 80%;
    margin-left: 350px;
    margin-top: 100px;

}
.myheader
{
    display: flex;
    justify-content: center;
}
.contain_header
{
    width: 90%;
    background-color: #fb8500;
    margin-bottom: 10px;
    height: 70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.mytable
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #fb8500;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table tbody td span
{
    font-weight: bolder;
} 
.my_dis
{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr img {
    width: 80px;
    height: 100px;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
/*button view css*/
.btnView{
    font-size: 15px;
    font-weight: bold;
    background: #219ebc;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btnView:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
/*button delete css*/
.btnDelete{
   
    font-size: 15px;
    font-weight: bold;
    background: #d62828;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btnDelete:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
.btnGoback{
    margin-left: 10px;
    font-size: 10px;
    font-weight: bold;
    background: #023047;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btnGoback:hover, .btnGoback:focus, .btnGoback:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
.btnAdd{
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
    background: #023047;
    padding: 10px;   
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
.btnAdd:hover, .btnAdd:focus, .btnAdd:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}